{% extends 'base.html' %}

{% block title %}用户详情{% endblock %}

{% block page-header %}系统用户{% endblock %}

{% block page-header-info %}查看用户名{{ response.0.username }} 详情

    <a href="{% url 'bind_user_delete' response.0.id %}">
        <button class="btn btn-danger" type="button" style="float: right"> 删除</button>
    </a>
    <a href="{% url 'bind_user_edit' response.0.id %}">
        <button class="btn btn-info" type="button" style="float: right"> 编辑</button>
    </a>
{% endblock %}

{% block page-content %}
    <form class="form-horizontal">

        <div class="form-horizontal"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">用户名</label>
            <div class="col-sm-9">
                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly"
                       value="{{ response.0.username }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">SSH类型</label>
            <div class="col-sm-9">
                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly"
                       value="{{ response.0.get_ssh_type_display }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">密码</label>
            <div class="col-sm-9">
                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly"
                       value="{{ response.0.password }}">
            </div>
        </div>
        <!--
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">端口</label>
            <div class="col-sm-9">
                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly"
                       value="{{ response.0.port }}">
            </div>
        </div>
-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">备注</label>
            <div class="col-sm-9">
                <input readonly="" type="text" class="col-xs-10 col-sm-5" id="form-input-readonly"
                       value="{% if response.0.comment %}{{ response.0.comment }}{% endif %}">
            </div>
        </div>


    </form>
{% endblock %}

