{% extends 'base.html' %}

{% block title %}资产信息{% endblock %}
{% block css %}
    <link href="/static/webssh_static/css/xterm.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/webssh_static/css/fullscreen.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page-header %}资产信息{% endblock %}

{% block page-header-info %}查看{% endblock %}

{% block page-content %}
    <div id="sample-table-2_wrapper" class="dataTables_wrapper" role="grid">
        <div class="row">
            {% include 'pg_num.html' %}
             <div class="col-sm-6">
                <div class="dataTables_filter" id="sample-table-2_filter">
                    <a href="{% url 'instance_add' %}">
                        <button class="btn-info " type="button" style="float: right"> 添加</button>
                    </a>
                </div>


            </div>
        </div>

        <table id="sample-table-2" class="table table-striped table-bordered table-hover dataTable"
               aria-describedby="sample-table-2_info">
            <thead>
            <tr role="row">

                {% for row in title %}
                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"
                        colspan="1" aria-label="Domain: activate to sort column ascending"
                        style="width: 168px;">{{ row }}
                    </th>
                {% endfor %}
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="sample-table-2" rowspan="1"
                    colspan="1" aria-label="Domain: activate to sort column ascending" style="width: 168px;">操作
                </th>
            </tr>
            </thead>


            <tbody role="alert" aria-live="polite" aria-relevant="all">
            {% for row in response %}
                <tr class="odd" nid="{{ row.id }}">
                    <td class=" "><a href="{% url 'instance_detail' row.id %}">{{ row.id }}</a></td>
                    <td class=" ">{{ row.name }}</td>
                    <td class=" ">{% if row.eip_address %}{{ row.eip_address }}{% endif %} </td>
                    <td class=" ">{{ row.primary_ip_address }}</td>
                    <td class=" ">{{ row.port }}</td>
                    <td class=" ">{{ row.idc.name }}</td>
                    <td class=" ">{{ row.vpc.name }}</td>
                    <td class=" ">{{ row.expired_time }}</td>
                    <td class=" ">
                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">

                            <a class="green" href="{% url 'instance_edit' row.id %}">
                                <i class="icon-pencil bigger-130"></i>
                            </a>
                            <a class="yellow webssh">
                                <i class="icon-laptop bigger-130"></i>
                            </a>
                            <a class="red" href="{% url 'instance_delete' row.id %}">
                                <i class="icon-trash bigger-130"></i>
                            </a>
                        </div>

                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                            <div class="inline position-relative">
                                <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-caret-down icon-only bigger-120"></i>
                                </button>

                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                    <li>
                                        <a href="#" class="tooltip-info" data-rel="tooltip" title=""
                                           data-original-title="View">
                                    <span class="blue">
                                        <i class="icon-zoom-in bigger-120"></i>
                                    </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-success" data-rel="tooltip" title=""
                                           data-original-title="Edit">
                                    <span class="green"><i class="icon-edit bigger-120">
                                    </i>
                                    </span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="tooltip-error" data-rel="tooltip" title=""
                                           data-original-title="Delete">
                                    <span class="red">
                                        <i class="icon-trash bigger-120"></i>
                                    </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


        {% include 'cmdb/paginator.html' %}
    </div>


{% endblock %}

{% block js %}


    <script src="/static/webssh_static/js/xterm.min.js"></script>
    <script src="/static/webssh_static/js/fullscreen.min.js"></script>
    <script>
        {#$(function () {#}
        {#    jQuery(function ($) {#}
        $(document).on('click', '.webssh', function (event) {
            event.preventDefault();

            var id_a = $(this).parent().parent().parent().attr('nid');

            $.ajax({
                headers: {"X-CSRFToken": '{{ csrf_token }}'},
                url: "/cmdb/instance/ssh",
                type: 'POST',
                data: {'id': id_a},
                success: function (ret) {

                    var obj = JSON.parse(ret);
                    var ips = obj.ip;
                    var ports = obj.port;
                    var usernames = obj.username;
                    var passwords = obj.password;

                    $.ajax({
                        {#url: "http://192.168.2.194:9999/",#}
                           url: "http://{{ web_ssh }}/",
                        {#url: "http://111.230.87.86:19999/",#}
                        type: 'POST',

                        data: {
                            hostname: ips,
                            port: ports,
                            username: usernames,
                            password: passwords
                        },
                        crossDomain: true,
                        success: callback
                    });

                    function current_geometry() {
                        cols = parseInt(window.innerWidth / 10);
                        rows = parseInt(window.innerHeight / 24);
                        return [cols, rows];
                    }


                    function callback(msg) {
                        console.log(msg);
                        if (msg.status) {
                            swal("错误", "登陆" + "[ " + msg.status + " ]" + "遇到错误", "error");
                            return;
                        }


                        {#var url = "ws://192.168.2.194:9999/" + 'ws?id=' + msg.id,#}
                        var url = "ws://{{ web_ssh }}/" + 'ws?id=' + msg.id,
                        {#var url = "ws://111.230.87.86:19999/" + 'ws?id=' + msg.id,#}
                            socket = new WebSocket(url),
                            terminal = document.getElementById('#terminal'),
                            geometry = current_geometry();
                        term = new Terminal({cursorBlink: true, cols: geometry[0], rows: geometry[1]});

                        console.log(url);
                        term.on('data', function (data) {
                            // console.log(data);
                            socket.send(data);
                        });

                        socket.onopen = function (e) {
                            $('.container1').hide();
                            term.open(terminal, true);
                            term.toggleFullscreen(true);
                        };

                        socket.onmessage = function (msg) {
                            console.log(msg);
                            term.write(msg.data);
                        };

                        socket.onerror = function (e) {
                            console.log(e);
                        };

                        socket.onclose = function (e) {
                            console.log(e);
                            term.destroy();
                            $('.container1').show();
                            // status.text(e.reason);
                        };
                    }


                    $(window).resize(function () {
                        if (typeof term != "undefined") {
                            geometry = current_geometry();
                            term.geometry = geometry;
                            term.resize(geometry[0], geometry[1]);
                        }
                    });

                }
            });
        });


    </script>
{% endblock %}