{% extends 'common/base.html' %}
{% block title %}常用URL{% endblock %}
{% block page-header %}常用URL{% endblock %}
{% block page-header-info %}添加
{% endblock %}

{% block page-content %}
    <form class="form-horizontal" role="form" method="post" action="{% url 'service_url_add' %}">
        {% csrf_token %}
        <div class="form-horizontal"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-input-readonly">名称</label>
            <div class="col-sm-9">
                <input type="text" class="col-xs-10 col-sm-5" id="form-field-1" name="name">
                <span style="color: red">*</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">外网地址</label>
            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="web_url"
                       placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">真实地址</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="real_url"
                       placeholder="">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">协议</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="connection"
                       placeholder="Http写1，Tcp写2">
                <span style="color: red">*</span>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">认证</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="auth"
                       placeholder="认证写1，非认证写0">
                <span style="color: red">*</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">用户名</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="user" placeholder="无认证可不填写">

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1">密码</label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" class="col-xs-10 col-sm-5" name="password"
                       placeholder="无认证可不填写">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="margin-left: 5%">
                <span style="color: red;">{{ error }}</span>
            </label>

        </div>


        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    保存
                </button>
                <a href="{% url 'bind_user' %}">
                    <button class="btn" type="button">
                        <i class="icon-undo bigger-110"></i>
                        取消
                    </button>
                </a>
            </div>
        </div>
    </form>
{% endblock %}