<link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
{#<link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css"/>#}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>
<link rel="stylesheet" href="/static/css/ace.min.css"/>
<link rel="stylesheet" href="/static/css/ace-rtl.min.css"/>
<link rel="stylesheet" href="/static/css/ace-skins.min.css"/>
{#<link rel="stylesheet" href="/static/css/ace-ie.min.css"/>#}
<script src="/static/js/ace-extra.min.js"></script>
{#<script src="/static/js/html5shiv.js"></script>#}
{#<script src="/static/js/respond.min.js"></script>#}

<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">